%h1 Help
<<<<<<< HEAD
%p
  Get help on Ruby on Rails Tutorial at the
  =link_to "Rails Tutorial help page", "http://railstutorial.org/help"
  %br
  To get help on this sample app, see the
  =link_to "Rails Tutorial book", "http://railstutorial.org/book"
=======

%p 
  Get help on Ruby on Rails Tutorial at the
  =raw "#{link_to "http://railstutorial.org/help", "Rails Tutorial help page"}."
  %br
 	
  To get help on this sample app, see the
  =raw "#{link_to "http://railstutorial.org/book", "Rails Tutorial book"}."
>>>>>>> 415e9b61b634e303c2296251991a4a71492f8b5c
