%h1 Help

%p 
  Get help on Ruby on Rails Tutorial at the
  =raw "#{link_to "http://railstutorial.org/help", "Rails Tutorial help page"}."
  %br
 	
  To get help on this sample app, see the
  =raw "#{link_to "http://railstutorial.org/book", "Rails Tutorial book"}."
