%h1 Sample App
<<<<<<< HEAD

%p
 This is the home page for the
 =link_to "Ruby on Rails Tutorial", "http://railstutorial.org/"
 sample application.
=======
%p 
  This is the home page for the
  =link_to "http://railstutorial.org/", "Ruby on Rails Tutorial"
  sample application.
>>>>>>> 415e9b61b634e303c2296251991a4a71492f8b5c

=link_to "Sign up now!", signup_path, :class => "signup_button round"
